body{
    font-family: 'Roboto', sans-serif;
}
.navbar {
    padding: 2%;
    height: 1vw;
    background-color: transparent;
    transition: background-color 0.3s ease; /* Übergangseffekt für Hintergrundfarbe */
}

/* Zustand der Navbar, wenn sie gescrollt ist */
.navbar.scrolled {
    background-color: white; /* Hintergrund wird weiß, wenn nach unten gescrollt wird */
}

/* Navbar links am oberen Rand ausrichten */
.navbar-nav {
    display: flex;
    align-items: center; /* Text nach oben ausrichten */
    height: 100%; /* Höhe des Navbar-Containers übernehmen */
}

/* Hover-Effekt für die Navbar */
.navbar.scrolled:hover {
    background-color: white; /* Weißer Hintergrund bei Hover */
}

/* Hover-Effekt für Links und Icons in der Navbar */
.navbar.scrolled .nav-text,
.navbar.scrolled .nav-icon {
    color: black; /* Schwarze Farbe für Texte und Icons bei Hover */
}

.nav-text {
    color: white; /* Standardfarbe für Text (weiß) */
    font-weight: bold;
    font-size: 13px;
    transition: color 0.3s ease; /* Übergangseffekt für Textfarbe */
}

.nav-text:hover{
    text-decoration: underline;
}

.nav-icon {
    color: white; /* Standardfarbe für Icons (weiß) */
    font-weight: bold;
    transition: color 0.3s ease; /* Übergangseffekt für Iconfarbe */
}

/* Standard: Weißes Logo */
#logo-container {
    width: 50px;
    height: 1.8vw;
    background-image: url('images/logo-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

/* Hover-Effekt für die Navbar: Hintergrund wird weiß und Text/Icons schwarz */
.navbar:hover {
    background-color: white; /* Weißer Hintergrund bei Hover */
}

/* Hover-Effekt für Links und Icons in der Navbar */
.navbar:hover .nav-text, .navbar:hover .nav-icon {
    color: black; /* Schwarze Farbe für Texte und Icons bei Hover */
}

/* Bild unter der Navbar */
.full-screen-image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Volle Bildschirmhöhe */
}

.full-screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Bild wird auf das Container-Verhältnis zugeschnitten */
}

.image-overlay {
    position: absolute; /* Overlay wird über dem Bild platziert */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparentes schwarzes Overlay */
}

.text-container {
    position: absolute; /* Text und Button werden innerhalb des Containers absolut positioniert */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Weißer Text */
    text-align: center;
}

.btn-custom {
    background-color: white;
    color: black; /* Button-Textfarbe */
    margin-top: -10px;
    padding: 8px 20px; /* Button-Größe */
    border: none;
    border-radius: 50px; /* Runde Ecken */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* sanfter Übergang bei Hover */
}

.btn-custom:hover {
    background-color: black; /* Dunklerer Farbton bei Hover */
    color: white;
}

#collection-name {
    padding-top: 15%;
    padding-bottom: 10%;
    font-weight: bold;
    font-size: large;
}

.footer {
    background-color: black; /* Weißer Hintergrund */
    color: white; /* Schwarzer Text */
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: white; /* Überschriftenfarbe */
}

.footer-link {
    color: white; /* Standardfarbe der Links */
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline; /* Dunklere Farbe bei Hover */
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.payment-logos {
    display: flex; /* Flexbox für nebeneinander anordnen */
    justify-content: space-between; /* Verteilt die Logos gleichmäßig */
    align-items: center; /* Zentriert die Logos vertikal */
}

.magazine-logos {
    display: flex; /* Flexbox für nebeneinander anordnen */
    justify-content: space-evenly; /* Mehr Abstand zwischen den Logos */
    align-items: center; /* Zentriert die Logos vertikal */
}

.magazine-logo {
    width: 120px; /* Setzt eine größere Breite für die Logos */
    height: auto; /* Stellt sicher, dass das Seitenverhältnis des Logos beibehalten wird */
    margin: 0 20px; /* Fügt einen horizontalen Abstand zwischen den Logos hinzu */
}

.payment-logo {
    width: 50px; /* Setzt eine feste Breite für die Logos */
    height: auto; /* Erhält das Seitenverhältnis der Logos */
}

#copyright{
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Scrolling Banner */
.scrolling-banner {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.banner-text {
    display: flex;
    animation: scroll-banner 30s linear infinite;
}

.banner-text p {
    display: inline-block;
    margin: 0;
    padding-right: 50px;
}

@keyframes scroll-banner {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.rating-img {
    width: 80px;
    margin-bottom: 10px;
}

.testimonial {
    text-align: left;
    margin: 10px;
}

.testimonial-title {
    font-weight: bold;
}

.testimonial-text {
    font-size: 0.9rem;
    width: 75%;
}

.testimonial-name {
    font-style: italic;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: transparent;
    filter: invert(1);
}

.carousel-control-prev {
    margin-left: -8rem;
}

.carousel-control-next {
    margin-right: -8rem;
}

.underline-text:hover{
    text-decoration: underline;
}

.featured-in {
    text-align: center; /* Zentriert den Text (Überschrift) */
    display: flex; /* Aktiviert Flexbox, um Inhalte besser zu positionieren */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal (falls erforderlich) */
    flex-direction: column; /* Stellt sicher, dass der Text und die Logos untereinander angeordnet sind */
    padding: 20px 0; /* Optional: Abstand oben und unten */
}

.featured-in h5 {
    font-size: 1.5rem; /* Schriftgröße für die Überschrift (optional) */
    font-weight: bold; /* Optional: Fettgedruckte Schrift */
    margin-bottom: 20px; /* Optional: Abstand unter der Überschrift */
}

.testimonial-headline {
    font-size: 1.5rem; /* Schriftgröße für die Überschrift (optional) */
    font-weight: bold; /* Optional: Fettgedruckte Schrift */
    margin-bottom: 20px; /* Optional: Abstand unter der Überschrift */
}


.cookie-consent-banner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 33%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 9999;
}

.cookie-consent-banner .cookie-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cookie-consent-banner button {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: small;
    border: none;
    width: 45%;
    padding: 10px 10px;
}

.cookie-consent-banner button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

.thumbnail-img {
    cursor: pointer;
    width: 60px;
    height: auto;
    border: 2px solid transparent;
}

.thumbnail-img.selected {
    border: 2px solid black;
}

.thumbnail-img.active {
    border-color: #000;
}

/* Zentriere den gesamten Inhalt der linken Spalte */
#mainImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainImage {
    width: 70%;
    height: auto;
}

/* Zentriere das große Bild */
.position-relative {
    display: flex;
    justify-content: center;
}

/* Styling für die Navigationspfeile */
.btn-outline-dark.position-absolute {
    top: 50%;
    transform: translateY(-50%);
}

/* Zentriere die Thumbnails und lege den Abstand fest */
.thumbnail-container {
    display: flex;
    justify-content: center;
    gap: 8px; /* Abstand zwischen den Thumbnails */
}

.color-option {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.cart-button {
    background-color: black;  /* Schwarzer Hintergrund */
    color: white;             /* Weißer Text */
    border: solid black;             /* Keine Umrandung */
     /* Runde Ecken */
    padding: 10px 20px;       /* Innenabstand, anpassbar je nach Bedarf */
    font-size: 16px;          /* Schriftgröße */
    cursor: pointer;         /* Zeiger-Cursor beim Hover */
    text-align: center;       /* Text zentriert */
    transition: background-color 0.3s ease; /* Sanfter Übergang für den Hover-Effekt */
}

.cart-button:hover {
    background-color: white;
    color: black;
    border: solid black;
}

/* Styling für die Größenauswahl */
.btn-group .btn {
    font-size: 12px;          /* Kleinere Textgröße */
    color: gray;
    margin-right: 10px;       /* Abstand zwischen den Buttons */
    border: transparent;  /* Keine sichtbare Umrandung */
    padding: 10px 20px;       /* Innenabstand für den Button */
    transition: all 0.3s ease; /* Sanfte Übergänge für alle Änderungen */
    border-radius: 0;         /* Keine runden Ecken */
}

/* Stil für den ausgewählten Button */
.btn-group .btn.selected {
    border-color: transparent;  /* Keine sichtbare Umrandung an den Seiten */
    border-bottom: 1px solid black; /* Nur untere Umrandung bei Auswahl */
    font-weight: bold;          /* Optional: Text fett */
}

#size {
    font-size: small;
}

/* Rechte Spalte für Produktdetails */
.product-name {
    display: flex;
    flex-direction: column;
    position: relative;  /* Positionierung des Containers */
}

/* Container für Preis und VAT */
.price-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;  /* Platziert es ganz oben im Container */
    right: 0; /* Rechts ausrichten */
    text-align: right; /* Text wird nach rechts ausgerichtet */
    margin-top: 0; /* Verhindert unnötigen Abstand oben */
}

/* Stil für den Preis */
.price {
    font-size: 24px;
    margin: 0;  /* Verhindert zusätzliche Ränder */
}

/* Stil für VAT */
.vat {
    font-size: 14px;
    margin-top: 5px; /* Leichter Abstand zwischen Preis und VAT */
}

/* Abstand unterhalb des Produktnamens vergrößern */
.product-name h2 {
    margin-bottom: 70px; /* Passe den Wert je nach Bedarf an */
}

#color-black {
    font-size: small;
} 

.product-details {
    margin-top: 40px;
}


.related-product img {
    max-width: 50%; /* Optionale Begrenzung der Bildgröße */
    margin: 0 auto;
}

.related-product h5 {
    font-size: 1rem; /* Schriftgröße für die Überschrift (optional) */
    font-weight: bold; /* Optional: Fettgedruckte Schrift */
    margin-top: 10px; /* Optional: Abstand unter der Überschrift */
}

.related-product p {
    color: #6c757d;
}

#related-headline{
    font-size: 1.5rem; /* Schriftgröße für die Überschrift (optional) */
    font-weight: bold; /* Optional: Fettgedruckte Schrift */
    margin-bottom: 200px; /* Optional: Abstand unter der Überschrift */
}

.product-row {
    margin-top: 100px; /* Abstand oberhalb der Produktbilder */
}